.minimap-display-container {
    right: 10;
    bottom: 0;
    width: 300;
    height: 300;
}

.minimap-body {
    border-radius: 50%;
    background-color: #101d02;
    border: 1px solid #44ab10;
    overflow: hidden;
    height: 250px;
    width: 250px;
    margin: 15px auto 15px -15px;
    contain: content;
    content: '';
}