

.body-container {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-filter: grayscale(0.5);
    filter: grayscale(0.5);
}

.planet-container {
    box-shadow: 5px -3px 10px 3px #5e90f1;
}

.star-container {
    box-shadow: 5px -3px 10px 3px #fcff4c;
}

.clouds-anim {
    animation: rotate-day 50s linear infinite, spin-clouds 100s ease infinite;
    background-image: url(https://www.solarsystemscope.com/textures/download/2k_earth_clouds.jpg);
    background-size: 200%;
    border-radius: 50%;    
    box-shadow: 5px 0 10px 5px #040615 inset, -9px 0px 10px 5px #5e90f1 inset;
    height: 100%;
    // margin-left: 100px;
    opacity: 0.65;
    position: absolute;
    width: 100%;
    z-index: 4;
}

.star-anim {
    animation: rotate-day 50s linear infinite, spin-clouds 100s ease infinite;
    background-image: url(https://www.solarsystemscope.com/textures/download/2k_sun.jpg);
    background-size: 200%;
    border-radius: 50%;    
    box-shadow: 5px 0 10px 5px #6e6624 inset, -9px 0px 10px 5px #ffd4b4 inset;
    height: 100%;
    // margin-left: 100px;
    opacity: 0.85;
    position: absolute;
    width: 100%;
    z-index: 4;
}

.moon-anim {
    animation: rotate-day 50s linear infinite, spin-clouds 100s ease infinite;
    background-image: url(https://www.solarsystemscope.com/textures/download/2k_moon.jpg);
    background-size: 200%;
    border-radius: 50%;    
    box-shadow: 5px 0 10px 5px #282723 inset, -9px 0px 10px 5px #ccc6c1 inset;
    height: 100%;
    // margin-left: 100px;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    z-index: 4;
}

.inner-shadow {
    background: transparent;
    border-radius: 50%;
    // box-shadow: -5px 0 10px 1px #152b57 inset, 5px 0 10px 1px #040615 inset;
    height: 100%;
    margin-left: 0;
    position: absolute;
    width: 100%;
    z-index: 5;
}

@keyframes rotate-day {
    0% { background-position: 120% 0; }
    100% { background-position: -80% 0; }
}
@keyframes rotate-night {
    0% { background-position: calc(120% + 120px) 0; }
    100% { background-position: calc(-80% + 120px) 0; }
}
@keyframes spin-clouds {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(20deg); }
    100% { transform: rotate(0deg); }
}