.spaceship {
  width: 30px;
  height: 30px;
  background-color: rgb(240, 247, 246);
  position: relative;
  clip-path: polygon(50% 0%, 100% 80%, 0% 80%);
  z-index: 1000;
}

.spaceship::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 12px;
  background-color: red;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}
