/* Define the twinkle effect with keyframes */
@keyframes twinkleEffect {
    0%, 100% {
      opacity: .8;
    }
    50% {
      opacity: 0.3;
    }
  }
  
  .twinkle {
    animation: twinkleEffect ease-in-out infinite;
    border-radius: 50%;
  }
  