$primary: #66a7d2;
$secondary: #c1ba60;
$tertiary: #e36060;
$primary-dark: #34495e;
$secondary-dark: #868140;
$tertiary-dark: #93333b;

$padding: 16px;
$padding-btn: 8px 16px;
$m-0: 0;
$m-4: 4px;
$m-8: 8px;
$m-12: 12px;
$m-16: 16px;
$p-0: 0;
$p-4: 4px;
$p-8: 8px;
$p-12: 12px;
$p-16: 16px;


