.drawer {
    position: fixed;
    transition: transform 0.3s ease;
}

.shipHud {
    border: 4px solid rgba(0, 55, 92, 0.887);
    background-color: rgba(1, 40, 66, 0.779);
}
/* Drawer.module.scss */

.drawerTop {
    top: 0;
    width: 100%;
    height: 35%;
    transform: translateY(-100%);
    margin: 0 auto auto auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.drawerBottom {
    bottom: 0;
    transform: translateY(100%);
    margin: auto auto 0 auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.drawerLeft {
    left: 0;
    width: 35%;
    height: 100%;
    transform: translateX(-100%);
    margin: auto 0 auto auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.drawerRight {
    right: 0;
    width: 35%;
    height: 100%;
    transform: translateX(100%);
    margin: auto auto auto 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.drawerOpen {
    transform: translate(0, 0);
}